* {
    text-align: center;
  }
  
  body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-image: url("https://i.redd.it/nhwngd25xfg31.jpg");
    background-color: #111;
    background-size: 100%;
    background-position: cover;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    margin-top: 250px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  table {
    border: 2px solid white;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    background-color: #111;
  }
  
  h1 {
    color: white;
  }
  
  th,
  tr,
  td {
    border: solid 1px white;
    color: white;
  }

  button{
    margin: 2px;
  }

  .fotoPerfil{
    height: 65px;
    width: auto;
    background-color: #ffffff5b;
  }

