*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    min-height: 600px;
    background-image: url("http://tabithabjorkman.com/project_pool_3/images/stage-curtains-backdrop.png");
    background-color: #628585;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }
  
  .container {
    text-align: center;
    margin: 200px auto;
    width: 500px;
    height: 500px;
    border: 5px solid #40c4ff;
    padding: 10px;
    background-color: #2f4947c0;
    border-radius: 100%;
    padding-top: 100px;
    padding-bottom: 100px;

  }
  .container button{
    padding: 10px 5px; 
    border-radius: 15px;
    border: none;
    color: white;
    font-style: bold;
    font-size: 20px;
    text-decoration: none;
    background-color: #40c4ff;
    cursor: pointer;
  }

  .container button:hover {
    background-color: #9fd1e9;
    transition-duration: 0.5s;
    color: black;
  }
  .container button:active ~ #resultado{
    color: rgba(190, 190, 190, 0.425);
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 16px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  #resultado{
    text-align: center;
    width: 100%;
    padding-top: 25px;    
    margin-top: 16px;
  }

  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  @media (max-height: 500px) {
    body {
      min-height: 800px;
    }
  }
  
  input {
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
  }
  
  button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
  }
  